body {
    background-color: antiquewhite;
}

.header {
    text-align: center;
    font-size: xx-large;
    color: #000000;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.game {
    text-align: center;
    width: 90%;
    height: auto;
    margin: 5%;
}

.cChoise {
    width: 20px;
    height: 20px;
}

.pChoise button {
    width: 2rem;
    height: 2rem;
}

.score { margin: 5% 0;}
.score p {
    display: inline;
    font-size: x-large;
    color: brown;
    margin: 5% 0;
    padding: 0.5rem;
}

.footer {
    font-size: xx-small;
    color: darkslategrey;
}