body {
    background-color: antiquewhite;
}

.header {
    text-align: center;
    font-size: 6vw;
    color: #000000;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.game {
    text-align: center;
    width: 90%;
    height: auto;
    margin: 5%;
}

#cValue {
    width: 9rem;
    height: 4rem;
    border: 0.1rem solid black;
    background-color: whitesmoke;
    margin: 2.5% 0;
    padding: 0.5rem;
    opacity: 0;
}

#tAnnounce {
    margin: 0;
    font-size: xx-large;
    opacity: 0;
    display: block;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: black;
}

.pChoise button {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid black;
    background-color: whitesmoke;
    margin: 2.5% 0;
}

.score { margin: 5% 0;}
.score p {
    display: inline;
    font-size: x-large;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: brown;
    margin: 2.5% 0;
    padding: 0.5rem;
}

.bReset {
    display: inline;
    width: 12.5rem;
    font-size: x-large;
}

@media  screen and (max-width: 500px) {
    .header {
        font-size: 9vw;
    }
    
}